<header class="site-header" role="banner">
    <div class="flex-wrapper">
        <div class="flex-wrapper content-width">
            <h2><a href="/">Colton Brown</a></h2>
            <h2>hi (at) coltonbrown.com</h2>
        </div>
        <div class="flex-wrapper header-nav">
            <h2>
                <a href="/about">About</a>
            </h2>
            <h2>
                <a href="/work">Work</a>
            </h2>
            <h2>
                <a href="/CV">CV</a>
            </h2>
        </div>
    </div>
</header>
  