@font-face {
    font-family: 'Helvetica';
    src: url("fonts/Helvetica.ttf");
    font-weight: bold;
    text-shadow: 1px 0px 0px black;
}
@font-face {
    font-family: 'Helvetica';
    src: url("fonts/Helvetica.ttf");
}
@font-face {
  font-family: 'Forme';
  src: url("fonts/Forme/forme-grotesque-regular-trial.otf");
}
@font-face {
  font-family: 'Forme';
  font-weight: bold;
  src: url("fonts/Forme/forme-grotesque-semibold-trial.otf");
}
@font-face {
  font-family: 'Forme';
  font-weight: 900;
  src: url("fonts/Forme/forme-grotesque-black-trial.otf");
}

.article-list {
    list-style: none;
    li {
      position: relative;
      margin-bottom: 1/3 * $spacing-unit;
      padding-left: 4 * $spacing-unit;  
      &:last-of-type {
        margin-bottom: 0.25 * $spacing-unit;
      }
    }
}

main {
  padding: 0 $spacing-unit;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: 3 * $spacing-unit;
}

a:hover {
  text-decoration: underline;
}

.content-width {
  width: $content-width;
}
.content-offset {
  padding-left: 5*$spacing-unit;
}
.cv .article-list li {
  margin-bottom: 0;
  padding-left: 4 * $spacing-unit;
  h3 {
    font-weight: normal;
  }
  &:last-of-type {
    margin-bottom: 0.5 * $spacing-unit;
  } 
}
.embolden {
    font-weight: bold;
}
.caps {
  text-transform: uppercase;
}
.item_link {
    position: relative;
    font-weight: bold;
}
.item_description {
    // text-align: justify;
}
.item_date {
    position: absolute;
    left: 0;
    top: 0;
}

h1 {
  font-size: 2.5em;
  margin: 0 0 $spacing-unit/4 0;
}

h2 {
  letter-spacing: -0.0rem;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: normal;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}
.post-list-heading {
  margin: $spacing-unit 0;
}
.post-header {
  margin-bottom: $spacing-unit;
}
.post-header, .post-content {
  p {
    margin-bottom: $spacing-unit;
  }
  img {
    padding: $spacing-unit 0;
  }
  .item_description {
    text-align: justify;
  }
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
}
.text-center {
  text-align: center;
}

#drawingCanvas {
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
}
header, .home, .resume, footer, .cv {
  pointer-events: none;
  position: relative;
  z-index: 1;
  a {
    pointer-events: all;
  }
}
.header-nav {
  flex: auto;
  padding-left: $spacing-unit;
}

.home {
  margin-top: 2 * $spacing-unit;
  li.home__title-block {
    margin-bottom: 2 * $spacing-unit;
  }
}

.cv__picker {
  margin: $spacing-unit 0 $spacing-unit*2 0;
  .bubble {
    pointer-events: all;
    border: 1px solid black;
    padding: $spacing-unit / 6 $spacing-unit / 2;
    white-space: nowrap;
    border-radius: $spacing-unit / 2;
    margin-right: $spacing-unit / 4;
    box-shadow: 5px 4px 0 rgba(98, 98, 98, 0.38);
    &.active {
      background: rgb(90, 90, 90);
      border-color:  rgb(90, 90, 90);
      a {
        color: white;
      }
    }
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 800ms;
}