---
layout: default
---

{%- include header-wide.html -%}

<div class="about content-width fade-in ">
  <ul class="article-list">
    <li class="article-list__title-block">
        <div class="item_date">
            B. 1991
          </div>
        <div class="item_description">

        </div>
    </li>

    <li>
        <div class="item_link">
            <h3>Code</h3>
        </div>
        <div class="item_description">
            I've worked as an engineer at small agencies, as a freelancer, and at large companies. My interest in software lies with interactivity and user experience. I bring an in-depth knowledge of programming to business and creative problems.
        </div>
    </li>

    <li>
        <div class="item_link">
            <h3>Design</h3>
        </div>
        <div class="item_description">
            I've held roles as a product designer, user interface developer and previously operated a small digital design studio. I offer a holistic and creative design approach that is applicable to many problem spaces.
        </div>
    </li>

    <li>
        <div class="item_link">
            <h3>Music & Sound</h3>
        </div>
        <div class="item_description">
            I write and produce original music under my <a target="_blank" href="https://coltsound.bandcamp.com">personal project</a>, have written music for film, done mixing, production and instrumentation for other artists.
        </div>
    </li>

  </ul>


  <ul class="article-list socials">
    <li>
        <a target="_blank" href="https://www.instagram.com/coltonbrwn/">instagram</a> |
        <a target="_blank" href="https://github.com/coltonbrwn">github</a> |
        <a target="_blank" href="https://www.linkedin.com/in/coltontbrown/">linkedin</a> |
        <a target="_blank" href="https://soundcloud.com/colt_sound">soundcloud</a>
    </li>
  </ul>

</div>

{%- include canvas.html -%}
