---
layout: default
---

{%- include header-wide.html -%}

<div class="about content-width fade-in ">
  <ul class="article-list">
    <li class="article-list__title-block">
        <div class="item_date">
            B. 1991
          </div>
        <div class="item_description">
            Colton Brown is a designer, developer, investor, and artist living in Brooklyn, NY.
        </div>
    </li>

    <li>
        <div class="item_link">
            <h3>Code</h3>
        </div>
        <div class="item_description">
            I've worked as an engineer at small agencies, as a freelancer, and at large companies. My core interest in software lies with interactivity and connectivity. while I specialize in front-end, I can also work full stack.
        </div>
    </li>


    <li>
        <div class="item_link">
            <h3>Design</h3>
        </div>
        <div class="item_description">
            I've worked as a product designer, researching and conceptualizing user interfaces. I co-operated a design studio called For Good Measure.
        </div>
    </li>

    <li>
        <div class="item_link">
            <h3>Music & Sound</h3>
        </div>
        <div class="item_description">
            I write and produce original music under my personal project, have written music for film, done mixing, production and instrumentation for other artists.
        </div>
    </li>

  </ul>


  <ul class="article-list socials">
    <li>
        <a href="/resume">resume</a> |
        <a target="_blank" href="https://www.instagram.com/coltonbrwn/">instagram</a> |
        <a target="_blank" href="https://github.com/coltonbrwn">github</a> |
        <a target="_blank" href="https://www.linkedin.com/in/coltontbrown/">linkedin</a> 
    </li>
  </ul>

</div>

{%- include canvas.html -%}
