---
layout: default
---

{%- include header-wide.html -%}

<div class="about content-width fade-in ">
  <ul class="article-list">
    <li class="article-list__title-block">
        <div class="item_date">
            B. 1991
          </div>
        <div class="item_description">

        </div>
    </li>

    <li>
        <div class="item_link">
            <h3>Design</h3>
        </div>
        <div class="item_description">
            My approach to digital design mirrors my view of what the web should be: equal parts utilitarian and unexpected. Having worked in a variety of design roles as a freelancer and as a co-owner of a design agency, my unconventional background gives me a unique lens on the design process that leads to pragmatic yet spirited ideas.
        </div>
    </li>

    <li>
        <div class="item_link">
            <h3>Code</h3>
        </div>
        <div class="item_description">
            My interest in software lies in networked interactivity and human connection. While my formal CS education and software engineering experience provide a solid foundation of principles, I ultimately view code as an under-utilized creative medium
        </div>
    </li>

    <li>
        <div class="item_link">
            <h3>Music</h3>
        </div>
        <div class="item_description">
            I write and produce original music under my <a target="_blank" href="https://coltsound.bandcamp.com">personal project</a>, have written music for film, done mixing, production and instrumentation for other artists.
        </div>
    </li>

  </ul>


  <ul class="article-list socials">
    <li>
        <a target="_blank" href="https://www.instagram.com/coltonbrwn/">instagram</a> |
        <a target="_blank" href="https://github.com/coltonbrwn">github</a> |
        <a target="_blank" href="https://www.linkedin.com/in/coltontbrown/">linkedin</a> |
        <a target="_blank" href="https://soundcloud.com/colt_sound">soundcloud</a>
    </li>
  </ul>

</div>

{%- include canvas.html -%}
