---
layout: default
---

{%- include header-wide.html -%}

<div class="cv__picker fade-in">
  <a class="bubble" href="#">design</a>
  <a class="bubble" href="#">music</a>
  <a class="bubble" href="#">code</a>
  <a class="bubble" href="#">education</a>
  <a class="bubble" href="#">writing</a>
</div>

<div class="cv fade-in">
  
  {%- assign groups = site.data.cv | group_by:"group_id" -%}
  {%- for group in groups -%}
  <ul class="article-list">
    {%- for item in group.items -%}
    <li>
        <div class="item_link">
            <a href="{{item.url | relative_url}}">
              <h3>{{item.title}}</h3>
            </a>
        </div>
        <div class="item_date embolden">
          {{ item.date_str }}
        </div>
    </li>
    {%- endfor -%}
  </ul>
  {%- endfor -%}
</div>

