---
layout: default
---

{%- include header-wide.html -%}

<div class="cv">

  {%- include cv-picker.html -%}

  {% assign all_posts = "" | split: ',' %}
  {%- for collection in site.collections -%}
    {%- for item in site[collection.label] -%}
      {%- if item.render -%}
        {% assign all_posts = all_posts | push: item %}
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
  
  {%- assign groups = all_posts | sort: "date" | reverse | group_by: "group_id" -%}
  {%- for group in groups -%}
  <ul class="article-list content-width fade-in">
    {%- for item in group.items -%}
    {%- include resume-li.html project=item -%}
    {%- endfor -%}
  </ul>
  {%- endfor -%}
</div>

{%- include canvas.html -%}
