---
layout: default
---

{%- include header-wide.html -%}

<div class="home fade-in">
    <div class="home-vert-space">
        <p>
            <strong>Currently</strong><br/>
            musician, designer, and creative producer<br/>
            working on something new 🥷
            <br/>♑︎ ♏︎ ♍︎
        </p>
        <p>
            <br/>
            <br/>
            <strong>Previously</strong>
            <br/> 
            Angel Advisor @ Various<br/>
            Product Designer @ Octave<br/>
            Creative Technology Partner @ 4GM<br/>
            Developer @ Uber<br/>
            Developer @ Honey<br/>
            <i><a href="/work">> All Projects</a></i>
        </p>
    </div>
</div>

