---
layout: default
---

{%- include header-wide.html -%}

<div class="home fade-in">
    <div class="home-vert-space">
        <p>
            Designing, building, helping people & making stuff
        </p>
    </div>

    <h2 class="post-list-heading embolden">
    Selected Projects
    </h2>
    <ul class="article-list content-width">
        {% assign posts = site.design-code | sort: "date" | reverse %}
        {% for p in posts  %}
        {%- if p.isSelectedWork == 1 -%}
            {% include resume-li.html project=p description=true %}
        {%- endif -%}
        {% endfor %}
    </ul>
</div>

