<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="post-bg">
    <main aria-label="Content ">
      {%- include header-wide.html -%}

      <article class="post h-entry fade-in" itemscope itemtype="http://schema.org/BlogPosting">

        <header class="post-header">
          <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
          <h2 class="embolden">
            {{ page.description }}
          </h2>
          <p class="post-meta" hidden>
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              {{ page.date | date: date_format }}
            </time>
            {%- if page.author -%}
              • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
            {%- endif -%}</p>
        </header>
      
        <div class="post-content" itemprop="articleBody">
          {{ content }}
        </div>
      
        <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
      </article>
    
      {%- include footer.html -%}

    </main>

  </body>

</html>
