<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="post-bg">
    <main aria-label="Content ">
      {%- include header-wide.html -%}

      <article class="post h-entry fade-in" itemscope itemtype="http://schema.org/BlogPosting">

        <header class="post-header">
          <h2 class="post-title p-name" itemprop="name headline">
            {{ page.title | escape }}
          </h2>
        </header>
      
        <div class="post-content" itemprop="articleBody">
          {{ content }}
        </div>

      </article>
    
      {%- include footer.html -%}

    </main>

  </body>

</html>
