<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="post-bg">
    <main aria-label="Content ">
      {%- include header-wide.html -%}

      <article class="post h-entry fade-in" itemscope itemtype="http://schema.org/BlogPosting">

        <header class="post-header">
          <p>
            <a href="/CV">← CV</a>
          </p>
          <h1 class="post-title p-name" itemprop="name headline">
            {{ page.title | escape }}
          </h1>
          <h2 class="embolden">
            {{ page.description }}
          </h2>
          <p class="post-meta">
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <h2>
                {{ page.date | date: date_format }}
              </h2>
            </time>
            {%- if page.role -%}
              <h2>
                Role: {{ page.role }}
              </h2>
            {%- endif -%}
            {%- if page.ext_link -%}
              <div class="content-width content-offset">
                <a class="bubble view-site" target="_blank" href="{{ page.ext_link }}">
                    View Site
                </a>
              </div>
            {%- endif -%}
          </p>



        </header>
      
        <div class="post-content" itemprop="articleBody">
          {%- if page.hasContent -%}
            {{ content }}
          {%- else -%}
            {%- include coming-soon.html -%}
          {%- endif -%}
        </div>
      
        <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
      </article>
    
      {%- include footer.html -%}

    </main>

  </body>

</html>
