---
layout: default
---

{%- include header-wide.html -%}

<h1>Resume</h1>

<div class="resume fade-in">

  <p class="content-width">
    <br/>
    <br/>
    Drawing on 10 years of experience in the technology field, I provide clients with a range of services in design, engineering, product, and fundraising.
  </p>

  <h2 class="post-list-heading embolden">
    Professional Experience
  </h2>
  <ul class="article-list content-width">
    {% assign ps = site.experience | sort: 'date' | reverse %}
    {% for p in ps  %}
    {% include resume-li.html project=p description=true url="/no" %}
    {%- endfor -%}
  </ul>
  <h2 class="post-list-heading embolden">
    Education
  </h2>
  <ul class="article-list content-width">
    {% for p in site.programs %}
    {%- if p.resumeEducationLine -%}
      {% include resume-li.html project=p%}
    {%- endif -%}
    {%- endfor -%}
  </ul>
</div>