---
layout: default
---

{%- include header-wide.html -%}

<h1>Resume</h1>

<div class="resume fade-in">
  <h2 class="post-list-heading embolden">
    Selected Projects
  </h2>
  <ul class="article-list content-width">
    {% for p in site.projects %}
    {%- if p.render -%}
      {% include resume-li.html project=p %}
    {%- endif -%}
    {%- endfor -%}
  </ul>
  <h2 class="post-list-heading embolden">
    Professional Experience
  </h2>
  <ul class="article-list content-width">
    {% for p in site.experience %}
    {% include resume-li.html project=p %}
    {%- endfor -%}
  </ul>
  <h2 class="post-list-heading embolden">
    Education
  </h2>
  <ul class="article-list content-width">
    {% for p in site.programs %}
    {%- if p.resumeEducationLine -%}
      {% include resume-li.html project=p %}
    {%- endif -%}
    {%- endfor -%}
  </ul>
</div>

{%- include canvas.html -%}
