---
layout: default
---

{%- include header-wide.html -%}

<h2>Resume</h2>

<div class="resume fade-in">

  <p class="content-width">
    <br/>
    <br/>
    I've learned lots of random stuff through years of doing; sometimes my skills and perspectives can help others make better decisions.
  </p>
  
  <h2 class="post-list-heading embolden">
    Projects
  </h2>
  <ul class="article-list content-width">
    {% assign projects = site.design-code | sort: 'date' | reverse %}
    {% for p in projects  %}
    {%- if p.isSelectedWork == 1 -%}
      {% include resume-li.html project=p description=true %}
    {%- endif -%}
    {%- endfor -%}
  </ul>

  <h2 class="post-list-heading embolden">
    Professional Experience
  </h2>
  <ul class="article-list content-width">
    {% assign experience = site.experience | sort: 'date' | reverse %}
    {% for p in experience  %}
    {% include resume-li.html project=p description=true %}
    {%- endfor -%}
  </ul>
  <h2 class="post-list-heading embolden">
    Education
  </h2>
  <ul class="article-list content-width">
    {% for p in site.programs %}
    {%- if p.resumeEducationLine -%}
      {% include resume-li.html project=p description=true %}
    {%- endif -%}
    {%- endfor -%}
  </ul>
</div>