---
layout: default
---

{%- include header-wide.html -%}

<div class="resume">

  {%- include cv-picker.html -%}

  {% assign all_posts = "" | split: ',' %}
  {%- for collection in site.collections -%}
    {%- for item in site[collection.label] -%}
      {%- if item.render -%}
        {% assign all_posts = all_posts | push: item %}
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
  
  {%- assign sorted_posts = all_posts | sort: "date" | reverse -%}
  <ul class="article-list content-width fade-in">
    {%- for item in sorted_posts -%}
    {%- if item.render -%}
      {%- include resume-li.html project=item description=true -%}
    {%- endif -%}
    {%- endfor -%}
  </ul>
</div>

